.container__small-card {    
    width: 700px;    
}

.container__small-card hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container__small-card-content {
    display: flex;
    
}

.small-card__photo img {
    width: 200px;
    min-width: 200px;
    height: 130px;
    margin-right: 20px;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}